# Intro to Python Programming

This notebook explores how to write Python code.

Workshop Website: [purdueswc.github.io](https://purdueswc.github.io/2019-03-27-purdue)

---

## Intro to Markdown

This is a numbered list:
1. Apple
1. Orange
1. Banana

This is an unordered list.

* Pencil
* Paper

---

## Python Basics

In [3]:
age = 42
first_name = "Ahmed"

In [5]:
age
first_name

'Ahmed'

In [8]:
print(first_name, 'is', age, 'years old.')

Ahmed is 42 years old.

In [25]:
age = age + 3
print('Age in three years:', age)

Age in three years: 84

In [26]:
ages = [1, 2, 3]
ages

[1, 2, 3]

In [28]:
ages[0]

1

In [31]:
first_name[0]

'A'

---

## Slicing

In [32]:
first_name[1:3]

'hm'

In [33]:
len(first_name)

5

In [37]:
print(first_name[0:] )  # Ahme
print(first_name[:3]  )  # Ahm
print(first_name[2:]  )  # med
print(first_name[:]   )  # Ahmed
print(first_name[1:-2])  # hm

Ahmed
Ahm
med
Ahmed
hm

In [38]:
first_name[::-1]

'demhA'

In [39]:
first_name[::2]

'Amd'

In [40]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
numbers[::2]

[0, 2, 4, 6, 8]

In [42]:
numbers[1::2]

[1, 3, 5, 7, 9]

---

## Functions, Types, and Operators

In [43]:
age

84

In [46]:
type_of_age = type(age)

In [47]:
type_of_age

int

In [48]:
type(type_of_age)

type

In [50]:
type(print)

builtin_function_or_method

In [52]:
type(first_name)

str

A variable's type determines what you are allowed to do with it.

In [53]:
first_name + ' Walsh'

'Ahmed Walsh'

In [55]:
last_name = 'Walsh'
first_name + ' ' + last_name

'Ahmed Walsh'

In [56]:
last_name - 'l'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [57]:
last_name.capitalize()

'Walsh'

In [58]:
last_name.upper()

'WALSH'

In [59]:
last_name.rstrip('h')

'Wals'

In [61]:
first_name + str(age)

'Ahmed84'

In [64]:
age / 8

10.5

In [65]:
age // 8

10

---

## Getting Help

In [67]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [68]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [70]:
min(ages)

1

In [71]:
min(1, 2, 3, 4, 5)

1

In [75]:
min_age = min(ages)
min_age

1

In [76]:
def concat(a, b):
    """Concatonate strings `a` and `b`."""
    return a + b

In [77]:
concat('Bobby', ' Flay')

'Bobby Flay'

<br><br><br><br><br><br>

<br><br><br><br><br><br>

<br><br><br><br><br><br>

<br><br><br><br><br><br>