# Using Libraries and Working with Data

---

In [1]:
import math

In [2]:
math.inf

inf

In [3]:
type(math.inf)

float

In [4]:
math.pi

3.141592653589793

In [5]:
math.e

2.718281828459045

In [6]:
math.e ** math.pi == math.exp(math.pi)

False

In [7]:
type(math.e ** math.pi == math.exp(math.pi))

bool

In [8]:
True == False

False

In [9]:
import statistics

In [10]:
help(statistics)

Help on module statistics:

NAME
    statistics - Basic statistics module.

MODULE REFERENCE
    https://docs.python.org/3.7/library/statistics

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides functions for calculating statistics of data, including
    averages, variance, and standard deviation.

    Calculating averages
    --------------------

    ==================  =============================================
    Function            Description
    ==================  =============================================
    mean                Arithmetic mean (average) of data.
    harmonic_mean       Harmonic mean of data.
    median              Median (middle value) of data.
    median_low          Low median of data.
    median_high         High median of data.
    median_grouped      Median, or 50th percentile, of grouped data.
    mode                Mode (most common value) of data.
    ==================  =============================================

    Calculate the arithmetic mean ("the average") of data:

    >>> mean([-1.0, 2.5, 3.25, 5.75])
    2.625


    Calculate the standard median of discrete data:

    >>> median([2, 3, 4, 5])
    3.5


    Calculate the median, or 50th percentile, of data grouped into class intervals
    centred on the data values provided. E.g. if your data points are rounded to
    the nearest whole number:

    >>> median_grouped([2, 2, 3, 3, 3, 4])  #doctest: +ELLIPSIS
    2.8333333333...

    This should be interpreted in this way: you have two data points in the class
    interval 1.5-2.5, three data points in the class interval 2.5-3.5, and one in
    the class interval 3.5-4.5. The median of these data points is 2.8333...


    Calculating variability or spread
    ---------------------------------

    ==================  =============================================
    Function            Description
    ==================  =============================================
    pvariance           Population variance of data.
    variance            Sample variance of data.
    pstdev              Population standard deviation of data.
    stdev               Sample standard deviation of data.
    ==================  =============================================

    Calculate the standard deviation of sample data:

    >>> stdev([2.5, 3.25, 5.5, 11.25, 11.75])  #doctest: +ELLIPSIS
    4.38961843444...

    If you have previously calculated the mean, you can pass it as the optional
    second argument to the four "spread" functions to avoid recalculating it:

    >>> data = [1, 2, 2, 4, 4, 4, 5, 6]
    >>> mu = mean(data)
    >>> pvariance(data, mu)
    2.5


    Exceptions
    ----------

    A single exception is defined: StatisticsError is a subclass of ValueError.

CLASSES
    builtins.ValueError(builtins.Exception)
        StatisticsError

    class StatisticsError(builtins.ValueError)
     |  Inappropriate argument value (of correct type).
     |
     |  Method resolution order:
     |      StatisticsError
     |      builtins.ValueError
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.ValueError:
     |
     |  __init__(self, /, *args, **kwargs)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from builtins.ValueError:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

FUNCTIONS
    harmonic_mean(data)
        Return the harmonic mean of data.

        The harmonic mean, sometimes called the subcontrary mean, is the
        reciprocal of the arithmetic mean of the reciprocals of the data,
        and is often appropriate when averaging quantities which are rates
        or ratios, for example speeds. Example:

        Suppose an investor purchases an equal value of shares in each of
        three companies, with P/E (price/earning) ratios of 2.5, 3 and 10.
        What is the average P/E ratio for the investor's portfolio?

        >>> harmonic_mean([2.5, 3, 10])  # For an equal investment portfolio.
        3.6

        Using the arithmetic mean would give an average of about 5.167, which
        is too high.

        If ``data`` is empty, or any element is less than zero,
        ``harmonic_mean`` will raise ``StatisticsError``.

    mean(data)
        Return the sample arithmetic mean of data.

        >>> mean([1, 2, 3, 4, 4])
        2.8

        >>> from fractions import Fraction as F
        >>> mean([F(3, 7), F(1, 21), F(5, 3), F(1, 3)])
        Fraction(13, 21)

        >>> from decimal import Decimal as D
        >>> mean([D("0.5"), D("0.75"), D("0.625"), D("0.375")])
        Decimal('0.5625')

        If ``data`` is empty, StatisticsError will be raised.

    median(data)
        Return the median (middle value) of numeric data.

        When the number of data points is odd, return the middle data point.
        When the number of data points is even, the median is interpolated by
        taking the average of the two middle values:

        >>> median([1, 3, 5])
        3
        >>> median([1, 3, 5, 7])
        4.0

    median_grouped(data, interval=1)
        Return the 50th percentile (median) of grouped continuous data.

        >>> median_grouped([1, 2, 2, 3, 4, 4, 4, 4, 4, 5])
        3.7
        >>> median_grouped([52, 52, 53, 54])
        52.5

        This calculates the median as the 50th percentile, and should be
        used when your data is continuous and grouped. In the above example,
        the values 1, 2, 3, etc. actually represent the midpoint of classes
        0.5-1.5, 1.5-2.5, 2.5-3.5, etc. The middle value falls somewhere in
        class 3.5-4.5, and interpolation is used to estimate it.

        Optional argument ``interval`` represents the class interval, and
        defaults to 1. Changing the class interval naturally will change the
        interpolated 50th percentile value:

        >>> median_grouped([1, 3, 3, 5, 7], interval=1)
        3.25
        >>> median_grouped([1, 3, 3, 5, 7], interval=2)
        3.5

        This function does not check whether the data points are at least
        ``interval`` apart.

    median_high(data)
        Return the high median of data.

        When the number of data points is odd, the middle value is returned.
        When it is even, the larger of the two middle values is returned.

        >>> median_high([1, 3, 5])
        3
        >>> median_high([1, 3, 5, 7])
        5

    median_low(data)
        Return the low median of numeric data.

        When the number of data points is odd, the middle value is returned.
        When it is even, the smaller of the two middle values is returned.

        >>> median_low([1, 3, 5])
        3
        >>> median_low([1, 3, 5, 7])
        3

    mode(data)
        Return the most common data point from discrete or nominal data.

        ``mode`` assumes discrete data, and returns a single value. This is the
        standard treatment of the mode as commonly taught in schools:

        >>> mode([1, 1, 2, 3, 3, 3, 3, 4])
        3

        This also works with nominal (non-numeric) data:

        >>> mode(["red", "blue", "blue", "red", "green", "red", "red"])
        'red'

        If there is not exactly one most common value, ``mode`` will raise
        StatisticsError.

    pstdev(data, mu=None)
        Return the square root of the population variance.

        See ``pvariance`` for arguments and other details.

        >>> pstdev([1.5, 2.5, 2.5, 2.75, 3.25, 4.75])
        0.986893273527251

    pvariance(data, mu=None)
        Return the population variance of ``data``.

        data should be an iterable of Real-valued numbers, with at least one
        value. The optional argument mu, if given, should be the mean of
        the data. If it is missing or None, the mean is automatically calculated.

        Use this function to calculate the variance from the entire population.
        To estimate the variance from a sample, the ``variance`` function is
        usually a better choice.

        Examples:

        >>> data = [0.0, 0.25, 0.25, 1.25, 1.5, 1.75, 2.75, 3.25]
        >>> pvariance(data)
        1.25

        If you have already calculated the mean of the data, you can pass it as
        the optional second argument to avoid recalculating it:

        >>> mu = mean(data)
        >>> pvariance(data, mu)
        1.25

        This function does not check that ``mu`` is actually the mean of ``data``.
        Giving arbitrary values for ``mu`` may lead to invalid or impossible
        results.

        Decimals and Fractions are supported:

        >>> from decimal import Decimal as D
        >>> pvariance([D("27.5"), D("30.25"), D("30.25"), D("34.5"), D("41.75")])
        Decimal('24.815')

        >>> from fractions import Fraction as F
        >>> pvariance([F(1, 4), F(5, 4), F(1, 2)])
        Fraction(13, 72)

    stdev(data, xbar=None)
        Return the square root of the sample variance.

        See ``variance`` for arguments and other details.

        >>> stdev([1.5, 2.5, 2.5, 2.75, 3.25, 4.75])
        1.0810874155219827

    variance(data, xbar=None)
        Return the sample variance of data.

        data should be an iterable of Real-valued numbers, with at least two
        values. The optional argument xbar, if given, should be the mean of
        the data. If it is missing or None, the mean is automatically calculated.

        Use this function when your data is a sample from a population. To
        calculate the variance from the entire population, see ``pvariance``.

        Examples:

        >>> data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.5]
        >>> variance(data)
        1.3720238095238095

        If you have already calculated the mean of your data, you can pass it as
        the optional second argument ``xbar`` to avoid recalculating it:

        >>> m = mean(data)
        >>> variance(data, m)
        1.3720238095238095

        This function does not check that ``xbar`` is actually the mean of
        ``data``. Giving arbitrary values for ``xbar`` may lead to invalid or
        impossible results.

        Decimals and Fractions are supported:

        >>> from decimal import Decimal as D
        >>> variance([D("27.5"), D("30.25"), D("30.25"), D("34.5"), D("41.75")])
        Decimal('31.01875')

        >>> from fractions import Fraction as F
        >>> variance([F(1, 6), F(1, 2), F(5, 3)])
        Fraction(67, 108)

DATA
    __all__ = ['StatisticsError', 'pstdev', 'pvariance', 'stdev', 'varianc...

FILE
    /Users/geoffrey/anaconda3/lib/python3.7/statistics.py

In [11]:
from scipy import optimize

In [12]:
optimize.curve_fit?

---

## Data Analysis with Pandas

In [14]:
import pandas as pd

/Users/geoffrey/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/geoffrey/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [20]:
data = pd.read_csv('data/gapminder_gdp_oceania.csv')
data

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [22]:
data = pd.read_csv('data/gapminder_gdp_oceania.csv', index_col='country')
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [23]:
data.T

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 288.0+ bytes

In [25]:
data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685413,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077557,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777857
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

In [27]:
data_oc = data
data_am = pd.read_csv('data/gapminder_gdp_americas.csv', 
                      index_col='country')

In [32]:
data_oc = data_oc.assign(continent='oceania')
data_oc

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007,continent
country,,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744,oceania
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911,oceania

In [30]:
data_am.head()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Argentina,Americas,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
Bolivia,Americas,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
Brazil,Americas,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
Canada,Americas,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
Chile,Americas,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850

In [33]:
data_oc.to_csv('data/gapminder_gdp_oceania-fixed.csv')

In [34]:
pd.read_csv('data/gapminder_gdp_oceania-fixed.csv')

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007,continent
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744,oceania
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911,oceania

---

## DataFrames: Slicing, etc.

In [14]:
import pandas as pd

In [16]:
data = pd.read_csv('data/gapminder_gdp_oceania.csv',
                   index_col='country')
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

`.iloc` is for "index location" ...

In [21]:
data.shape

(2, 12)

In [25]:
type(data.iloc[0])

pandas.core.series.Series

In [24]:
data.iloc[0]

gdpPercap_1952    10039.59564
gdpPercap_1957    10949.64959
gdpPercap_1962    12217.22686
gdpPercap_1967    14526.12465
gdpPercap_1972    16788.62948
gdpPercap_1977    18334.19751
gdpPercap_1982    19477.00928
gdpPercap_1987    21888.88903
gdpPercap_1992    23424.76683
gdpPercap_1997    26997.93657
gdpPercap_2002    30687.75473
gdpPercap_2007    34435.36744
Name: Australia, dtype: float64

In [23]:
data.iloc[:1]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744

In [26]:
data.iloc[:1, 1:4]

           gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Australia     10949.64959     12217.22686     14526.12465

`.loc` is for location based on name/label. Usually involves the _index_.

In [28]:
data.loc['Australia']

gdpPercap_1952    10039.59564
gdpPercap_1957    10949.64959
gdpPercap_1962    12217.22686
gdpPercap_1967    14526.12465
gdpPercap_1972    16788.62948
gdpPercap_1977    18334.19751
gdpPercap_1982    19477.00928
gdpPercap_1987    21888.88903
gdpPercap_1992    23424.76683
gdpPercap_1997    26997.93657
gdpPercap_2002    30687.75473
gdpPercap_2007    34435.36744
Name: Australia, dtype: float64

In [37]:
data = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [39]:
data.loc['Belgium', 'gdpPercap_1962']

10991.20676

In [40]:
data.loc['Belgium', 'gdpPercap_1952':'gdpPercap_1967']

gdpPercap_1952     8343.105127
gdpPercap_1957     9714.960623
gdpPercap_1962    10991.206760
gdpPercap_1967    13149.041190
Name: Belgium, dtype: float64

In [41]:
data.loc['Poland', ['gdpPercap_1952', 'gdpPercap_1962']]

gdpPercap_1952    4029.329699
gdpPercap_1962    5338.752143
Name: Poland, dtype: float64

In [43]:
list(data.columns)

['gdpPercap_1952',
 'gdpPercap_1957',
 'gdpPercap_1962',
 'gdpPercap_1967',
 'gdpPercap_1972',
 'gdpPercap_1977',
 'gdpPercap_1982',
 'gdpPercap_1987',
 'gdpPercap_1992',
 'gdpPercap_1997',
 'gdpPercap_2002',
 'gdpPercap_2007']

In [44]:
names = []
for name in data.columns:
    if '199' in name:
        names.append(name)

In [45]:
names

['gdpPercap_1992', 'gdpPercap_1997']

In [47]:
data.loc[:, names].head()

                        gdpPercap_1992  gdpPercap_1997
country
Albania                    2497.437901     3193.054604
Austria                   27042.018680    29095.920660
Belgium                   25575.570690    27561.196630
Bosnia and Herzegovina     2546.781445     4766.355904
Bulgaria                   6302.623438     5970.388760

### Select-Apply-Combine

_... kinda of like "map-reduce"_

In [53]:
data['gdpPercap_1952'] > data['gdpPercap_1952'].mean()

country
Albania                   False
Austria                    True
Belgium                    True
Bosnia and Herzegovina    False
Bulgaria                  False
Croatia                   False
Czech Republic             True
Denmark                    True
Finland                    True
France                     True
Germany                    True
Greece                    False
Hungary                   False
Iceland                    True
Ireland                   False
Italy                     False
Montenegro                False
Netherlands                True
Norway                     True
Poland                    False
Portugal                  False
Romania                   False
Serbia                    False
Slovak Republic           False
Slovenia                  False
Spain                     False
Sweden                     True
Switzerland                True
Turkey                    False
United Kingdom             True
Name: gdpPercap_1952, dtype: bool

In [54]:
data.apply(lambda x: x > x.mean())

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,False,False,False,False,False,False,False,False,False,False,False,False
Austria,True,True,True,True,True,True,True,True,True,True,True,True
Belgium,True,True,True,True,True,True,True,True,True,True,True,True
Bosnia and Herzegovina,False,False,False,False,False,False,False,False,False,False,False,False
Bulgaria,False,False,False,False,False,False,False,False,False,False,False,False
Croatia,False,False,False,False,False,False,False,False,False,False,False,False
Czech Republic,True,True,True,True,True,True,False,False,False,False,False,False
Denmark,True,True,True,True,True,True,True,True,True,True,True,True
Finland,True,True,True,True,True,True,True,True,True,True,True,True
France,True,True,True,True,True,True,True,True,True,True,True,True
Germany,True,True,True,True,True,True,True,True,True,True,True,True
Greece,False,False,False,False,True,False,False,False,True,False,True,True
Hungary,False,False,False,False,False,False,False,False,False,False,False,False
Iceland,True,True,True,True,True,True,True,True,True,True,True,True
Ireland,False,False,False,False,False,False,False,False,True,True,True,True
Italy,False,False,False,False,False,False,True,True,True,True,True,True
Montenegro,False,False,False,False,False,False,False,False,False,False,False,False
Netherlands,True,True,True,True,True,True,True,True,True,True,True,True
Norway,True,True,True,True,True,True,True,True,True,True,True,True
Poland,False,False,False,False,False,False,False,False,False,False,False,False
Portugal,False,False,False,False,False,False,False,False,False,False,False,False
Romania,False,False,False,False,False,False,False,False,False,False,False,False
Serbia,False,False,False,False,False,False,False,False,False,False,False,False
Slovak Republic,False,False,False,False,False,False,False,False,False,False,False,False
Slovenia,False,False,False,False,False,True,True,True,False,False,False,True
Spain,False,False,False,False,False,False,False,False,True,True,True,True
Sweden,True,True,True,True,True,True,True,True,True,True,True,True
Switzerland,True,True,True,True,True,True,True,True,True,True,True,True
Turkey,False,False,False,False,False,False,False,False,False,False,False,False
United Kingdom,True,True,True,True,True,True,True,True,True,True,True,True

In [61]:
mask = data['gdpPercap_1952'] > data['gdpPercap_1952'].mean()
data.loc[mask, 'gdpPercap_1952']

country
Austria            6137.076492
Belgium            8343.105127
Czech Republic     6876.140250
Denmark            9692.385245
Finland            6424.519071
France             7029.809327
Germany            7144.114393
Iceland            7267.688428
Netherlands        8941.571858
Norway            10095.421720
Sweden             8527.844662
Switzerland       14734.232750
United Kingdom     9979.508487
Name: gdpPercap_1952, dtype: float64

In [56]:
mask = data.apply(lambda x: x > x.mean())
score = mask.aggregate('sum', axis=1) / len(data.columns)
score

country
Albania                   0.000000
Austria                   1.000000
Belgium                   1.000000
Bosnia and Herzegovina    0.000000
Bulgaria                  0.000000
Croatia                   0.000000
Czech Republic            0.500000
Denmark                   1.000000
Finland                   1.000000
France                    1.000000
Germany                   1.000000
Greece                    0.333333
Hungary                   0.000000
Iceland                   1.000000
Ireland                   0.333333
Italy                     0.500000
Montenegro                0.000000
Netherlands               1.000000
Norway                    1.000000
Poland                    0.000000
Portugal                  0.000000
Romania                   0.000000
Serbia                    0.000000
Slovak Republic           0.000000
Slovenia                  0.333333
Spain                     0.333333
Sweden                    1.000000
Switzerland               1.000000
Turkey                    0.000000
United Kingdom            1.000000
dtype: float64

<br><br><br><br><br>

<br><br><br><br><br>

<br><br><br><br><br>

<br><br><br><br><br>